<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="../_app/immutable/assets/3.CCRCKfGS.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Row.NWUhadhX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Table.CO9XDSxJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CodeInner.DPpH432q.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CssWrapper.Bgcvb6vz.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CssVariableDemo.B3u6d_d6.css" rel="stylesheet">
		<link href="../_app/immutable/assets/BootstrapCloneDemo.CST7mmri.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TabDemo.BtOoPoAZ.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.Dlxrz52C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.BxrbT043.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/scheduler.JJbcKGuG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/paths.Bg7fxMRI.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BVY_FHNp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.D6kgxu3v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BNio5jp7.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.CIsOzMic.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/3.BZso2nyS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Row.svelte_svelte_type_style_lang.-QehKvCL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Table.svelte_svelte_type_style_lang.DffHVoBJ.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div>  <section class="page svelte-ndg3gl" style=""><header class="svelte-ndg3gl"></header> <div class="side-by-side svelte-ndg3gl"><div class="aside svelte-ndg3gl"></div> <div class="content svelte-ndg3gl"><div class="bar svelte-18dvs9h" style=""><a href=".." data-svelte-h="svelte-vshyzv">Home</a> Bar <div class="label-sizing-box svelte-1exc6g"><label class="checkbox-item svelte-1exc6g"><input type="checkbox" class="svelte-1exc6g"> <span class="svelte-1exc6g">Show themes</span></label> <label class="invisible svelte-1exc6g"><input type="checkbox" checked class="svelte-1exc6g"> <span class="svelte-1exc6g"><!-- HTML_TAG_START --><!-- HTML_TAG_END --></span></label> </div> </div>  Loading...</div></div> <footer class="svelte-ndg3gl"></footer> </section> 
			
			<script>
				{
					__sveltekit_181cw2j = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/svelte-contain-css"
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.Dlxrz52C.js"),
						import("../_app/immutable/entry/app.BVY_FHNp.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
