<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="../_app/immutable/assets/3.ByjLy_ke.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Columns.DoPG7Rbr.css" rel="stylesheet">
		<link href="../_app/immutable/assets/RadioButton.Bwe3oA4U.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CssWrapper.Bgcvb6vz.css" rel="stylesheet">
		<link href="../_app/immutable/assets/VariableDemo.BtOoPoAZ.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.C9cg745C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.b7-8t2AR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/scheduler.Dl5NE-ua.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/paths.CgHto8jo.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BppCT3lj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.D6kgxu3v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DmIGNg4y.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.n6TR5ZNt.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/3.B9PuCbKa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Columns.svelte_svelte_type_style_lang.BPAAWq6C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/RadioButton.svelte_svelte_type_style_lang.BH-l4FjL.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div>  <div style="display: contents; --bar-link-fg:pink;"><section class="page svelte-103g1au" style=""><header class="svelte-103g1au"></header> <div class="side-by-side svelte-103g1au"><div class="aside svelte-103g1au"></div> <div class="content svelte-103g1au"><div class="bar svelte-utls5v" style=""><a href=".." data-svelte-h="svelte-10dyyx2">Home</a> Card <div class="label-sizing-box svelte-1h6j8yo"><label class="checkbox-item svelte-1h6j8yo"><input type="checkbox" class="svelte-1h6j8yo"> <span class="svelte-1h6j8yo">Show themes</span></label> <label class="invisible svelte-1h6j8yo"><input type="checkbox" checked="true" class="svelte-1h6j8yo"> <span class="svelte-1h6j8yo"><!-- HTML_TAG_START -->undefined<!-- HTML_TAG_END --></span></label> </div> </div>  Loading...</div></div> <footer class="svelte-103g1au"></footer> </section></div> 
			
			<script>
				{
					__sveltekit_1mo7b1 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/svelte-contain-css"
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.C9cg745C.js"),
						import("../_app/immutable/entry/app.BppCT3lj.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
