<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="../_app/immutable/assets/3.CCRCKfGS.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Row.BG8dEj0H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Columns.D4vm5_9f.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CodeInner.DWIPNwT5.css" rel="stylesheet">
		<link href="../_app/immutable/assets/CssWrapper.Bgcvb6vz.css" rel="stylesheet">
		<link href="../_app/immutable/assets/BootstrapCloneDemo.CST7mmri.css" rel="stylesheet">
		<link href="../_app/immutable/assets/VariableDemo.BtOoPoAZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TooltipDemo.CEw593mB.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.Bg5OttWt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.37KGIgwU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/scheduler.Cm714ZyC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/paths.BXovRMHO.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CBR0vRQf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.D6kgxu3v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BcN0WdjQ.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BD5DITCh.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/3.KAL-Bg3T.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Row.svelte_svelte_type_style_lang.D-O52OHj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Columns.svelte_svelte_type_style_lang.BK64ZyYD.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div>  <section class="page svelte-cvpymv" style=""><header class="svelte-cvpymv"></header> <div class="side-by-side svelte-cvpymv"><div class="aside svelte-cvpymv"></div> <div class="content svelte-cvpymv"><div class="bar svelte-1ocoqav" style=""><a href=".." data-svelte-h="svelte-vshyzv">Home</a> Tile <div class="label-sizing-box svelte-qf6u9v"><label class="checkbox-item svelte-qf6u9v"><input type="checkbox" class="svelte-qf6u9v"> <span class="svelte-qf6u9v">Show themes</span></label> <label class="invisible svelte-qf6u9v"><input type="checkbox" checked="true" class="svelte-qf6u9v"> <span class="svelte-qf6u9v"><!-- HTML_TAG_START -->undefined<!-- HTML_TAG_END --></span></label> </div> </div>  Loading...</div></div> <footer class="svelte-cvpymv"></footer> </section> 
			
			<script>
				{
					__sveltekit_1kkg9uf = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/svelte-contain-css"
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.Bg5OttWt.js"),
						import("../_app/immutable/entry/app.CBR0vRQf.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 3],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
